.header {
  margin-top: 4vh;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  text-shadow:
    4px 4px 4px rgb(251, 150, 165),
    0 0 30px rgb(250, 0, 0),
    -2px 0 lightpink,
    0 2px lightpink,
    2px 0 lightpink,
    0 -2px lightpink;
}
.label {
  margin: auto;
  display: flex;
  margin-top: 2vh;
  width: 30vw;
  height: 5vh;
  border-radius: 30px;
  background-color: white;
  outline: 2px solid lightpink;
  box-shadow: 5px 5px 5px lightpink;
}
.search-input {
  margin: auto;
  display: inline-block;
  width: 25vw;
  height: 5vh;
  padding-left: 20px;
  background-color: transparent;
  font-family: sans-serif;
  font-size: medium;
  outline: none;
  border: none;
  box-shadow: none;
}
.button {
  display: inline-block;
  margin-top: 0.5vh;
  margin-right: 0.5vw;
  width: 10em;
  height: 4vh;
  border-radius: 30px;
  background-color: lightpink;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  font-family: sans-serif;
  font-size: medium;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: rgb(251, 150, 165);
}
.search-input:focus {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.search-input::-ms-clear {
  display: none;
}
.search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}
.search-input::placeholder {
  color: lightpink;
}
